{% load staticfiles %}
<html class="no-js">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PPowerTech - AI Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <meta name="keywords" content="Artificial Intelligence, Smart Home, Internet of Things">
    <meta property="og:title" content="PPowerTech - Bring Artificial Intelligence to anywhere and anything">
    <meta property="og:description"
          content="Applying techniques in Artificial Intelligence, we make anything around you be smart and wonderful.">
    <meta property="og:url" content="http://ppowertech.vn/">
    <meta property="og:site_name" content="PPowerTech - Artificial Intelligence and Internet of Things Platform">
    <meta property="og:image" content="https://cdn.ttgtmedia.com/visuals/360Guide/businessanalytics_AI-IT.jpg">
    <meta property="og:width" content="1200">
    <meta property="og:height" content="330">

    <!-- Bootstrap and Font Awesome css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Google fonts-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700">
    <!-- Theme stylesheet-->
    <link rel="stylesheet" href="{% static 'css/style.default.css' %}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>
<div style="background-image: url('{% static 'img/beach.jpg' %}')" class="main">
    <div class="overlay"></div>
    <div class="container">
        <p class="social">
            <a href="{% url 'social:begin' 'facebook' %}" title="" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="{% url 'social:begin' 'twitter' %}" title="" class="twitter"><i
                    class="fa fa-twitter"></i></a>
            <a href="{% url 'social:begin' 'google-plus' %}" title="" class="gplus"><i
                    class="fa fa-google-plus"></i></a>
            <a href="{% url 'social:begin' 'instagram' %}" title="" class="instagram"><i
                    class="fa fa-instagram"></i></a></p>
        <div class="row">
            <div class="col-sm-12">
                <h1 class="cursive">PPowerTech - AI Home</h1>
                <h2 class="sub">Bring Artificial Intelligence to anywhere and anything.</h2>
            </div>
        </div>
        <!-- countdown-->
        <div id="countdown" class="countdown">
            <div class="row">
                <div class="countdown-item col-sm-3 col-xs-6">
                    <div id="countdown-days" class="countdown-number">&nbsp;</div>
                    <div class="countdown-label">days</div>
                </div>
                <div class="countdown-item col-sm-3 col-xs-6">
                    <div id="countdown-hours" class="countdown-number">&nbsp;</div>
                    <div class="countdown-label">hours</div>
                </div>
                <div class="countdown-item col-sm-3 col-xs-6">
                    <div id="countdown-minutes" class="countdown-number">&nbsp;</div>
                    <div class="countdown-label">minutes</div>
                </div>
                <div class="countdown-item col-sm-3 col-xs-6">
                    <div id="countdown-seconds" class="countdown-number">&nbsp;</div>
                    <div class="countdown-label">seconds</div>
                </div>
            </div>
        </div>
        <!-- /.countdown-->
        <div class="mailing-list">
            <h3 class="mailing-list-heading">Join our mailing list and we will let you know all the news!</h3>
            <div class="row">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="email" class="sr-only"></label>
                        <input type="email" placeholder="jane.doe@example.com" id="email"
                               class="form-control transparent">
                    </div>
                    <button class="btn btn-danger">subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy;2018 PPowerTech</p>
                </div>
                <div class="col-md-6">
                    <!-- please do not remove credit to us, if you need to remove the link please donate to support further theme's development-->
                    <p class="credit">We make all of things in the world be smart</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- JAVASCRIPT FILES -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.11.0.min.js"><\/script>')</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'js/jquery.cookie.js' %}"></script>
<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'js/front.js' %}"></script>
</body>
</html>
