{% load staticfiles %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
		<title>{% trans 'iHook, iot dashboard, iot server' %} | iHook</title>
		<link href="{% static 'front/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
		<link href="{% static 'front/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
		<script src="{% static 'front/js/jquery.min.js' %}"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="iot dashboard, iot, hook, internet, Internet of Things, iot web servis, android web servis, ios web servis, api, ihook," />
        <meta name="description" content="Open source, Iot Dashboard, Cloud data platform and API for the Internet of Things.">
        <meta name="author" content="ihook.xyz">

        <link rel="icon" href="{% static "favicon.ico" %}">

		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

		<script type="text/javascript" src="{% static 'front/js/move-top.js' %}"></script>
		<script type="text/javascript" src="{% static 'front/js/easing.js' %}"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-83211037-1', 'auto');
          ga('send', 'pageview');
        </script>
</head>
	
<body>
	<div id="home" class="banner">
	<div class="container">
		<div class="head-logo">
			<a href="/"><img src="{% static 'front/images/ihook-100x50.png' %}" alt="iot open source serwer"></a>
		</div>
		<div class="top-nav">
			<span class="menu"><img src="{% static 'front/images/menu.png' %}" alt="iot dashboard" /></span>
				<ul class="nav1">
					<li><a href="/" class="scroll">{% trans 'MAIN PAGE' %}</a></li>
					<li><a href="{% url 'panels_index' %}" target="_blank">{% trans 'IOT DASHBOARD DEMO' %}</a></li>
					<li><a href="http://electrocoder.github.io/iotdashboard/" target="_blank">{% trans 'IOT GITHUB' %}</a></li>
					<li><a href="https://github.com/electrocoder/iotdashboard/issues" target="_blank">{% trans 'CONTACT' %}</a></li>
					<li><a href="http://iotdashboard.readthedocs.io/tr/latest/" target="_blank">{% trans 'DOCS' %}</a></li>
					<div class="clearfix"> </div>
				</ul>
		</div>

		<div class="clearfix"> </div>
		<div class="banner-info">
			<h2>{% blocktrans %}Django Server for IOT{% endblocktrans %}</h2>
			<p>{% blocktrans %}<span>Iot dashboard açık kaynaklı olarak, Python programlama dili ve Django framework </span>ile geliştirilen internete bağlı nesneleri kolay bir şekilde yönetmek için geliştirilmiştir. <span>Api, web servis, veritabanı, ne gerekiyorsa bir kaç tıklama ile
				kolayca...</span> <span>Arduino, Raspberry Pi, Android, iOS, Windows Phone ve diğer akıllı </span>cihazları iHOOK ile birbirine bağlayabilirsiniz.{% endblocktrans %}
            </p>
            <div class="development-text">
			    <a href="{% url 'panels_index' %}">{% trans 'TEST NOW' %}</a>
		    </div>
		</div>
		<div class="banner-icons">
			<ul>
				<li><a href="https://www.facebook.com/iothook" class="facebook"> </a></li>
				<li><a href="https://twitter.com/iothook" class="twitter"> </a></li>
				<li><a href="https://github.com/electrocoder" class="in"> </a></li>
			</ul>
		</div>
	</div>
	</div>
			<script> 
					 $( "span.menu" ).click(function() {
						$( "ul.nav1" ).slideToggle( 300, function() {
							 // Animation complete.
							  });
							 });
							
			</script>
<!-- //banner -->
<!-- service -->
	<div id="service" class="service">
	<div class="container">
		<div class="service-top">
			<h3>iHOOK</h3>
		</div>	
		<div class="service-grids">
			<div class="service-grid1">
				<div class="fig1">
					<span> </span>
				</div>
				<h3>{% trans 'Mobil' %}</h3>
				<p>{% trans 'Ihook database connect for mobil app. ' %}<span>{% trans 'Web servis ile datalarınızı Edityin.' %}</span></p>
			</div>
			<div class="service-grid">
				<div class="fig2">
					<span> </span>
				</div>
				<h3>iOT</h3>
				<p>{% trans 'iHook web service administrator for iot devices..' %} <span>{% trans 'Get data, data update, data send...' %}</span>{% trans 'Smart devices administrator...' %}</p>
			</div>
			<div class="service-grid2">
				<div class="fig3">
					<span> </span>
				</div>
				<h3>{% trans 'Web Servis' %}</h3>
				<p>{% trans 'Are you want database' %} <span>{% trans "Akıllı form' lar mı yapmak istiyorsunuz?" %}</span>{% trans 'Web site hook' %}</p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>	
	</div>
<!-- //service -->
<!-- service-bottom -->
	<div id="about" class="service-bottom">
	<div class="container">
		<div class="smith">
			<div class="service-bottom-left">
				<img src="{% static 'front/images/iot.png' %}" alt="iot" />
			</div>
			<div class="service-bottom-right">
				<h2>iOT</h2>
				<h3>{% trans 'Internet of Things' %}</h3>
				<p>{% blocktrans %}İnternete bağlı şeyleri bir merkezden kontrol edebilirsin. <span>iHook web servisi ile mobil </span>
                    cihazlarınızı ve iOT cihazlarınızı birbirine bağlayabilirsiniz.<span>Evinizde bulunan internete </span>
                    bağlı cihazınızı yine internet üzerinden kontrol edebilirsiniz. {% endblocktrans %}</p>
				<div class="banner1-icons">
					<ul>
						<li><a href="https://www.facebook.com/iothook" class="facebook1"> </a></li>
						<li><a href="https://twitter.com/iothook" class="twitter1"> </a></li>
						<li><a href="https://github.com/electrocoder" class="in1"> </a></li>
					</ul>
				</div>
				<div class="bar">
					<p>iOT</p>
				</div>
				<div class="bar1">
					<p>100%</p>
				</div>
				<div class="clearfix"> </div>
				<div class="skills">
					 <div class="skill1" style="width:100%"> </div>
				</div>

			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	</div>
<!-- //service-bottom -->
<!-- app-development -->
	<div class="development">
	<div class="container">
		<div class="development-text">
			<h2>{% trans 'DEVELOPERS' %}</h2>
			<p>{% blocktrans %}MySQL, PostgreSQL ve SQLite <span>veritabanınızı bir kaç tıklama ile oluşturun. </span>
                Android, iOS, Windows Phone ve diğer akıllı <span>
                    cihazlarınız ile kolay bir şekilde bağlantı kurun. </span>
                E-mail ve web servis ile verilerinize her yerden ulaşın.{% endblocktrans %}</p>
			<a href="http://iotdashboard.readthedocs.io/en/latest/" target="_blank">{% trans 'READ' %}</a>
		</div>
	</div>
	</div>
<!-- //app-development -->

	<div class="clearfix"></div>

	<div class="slider">
	<div class="container">
		<!-- Slider-starts-Here -->
				<script src="{% static 'front/js/responsiveslides.min.js' %}"></script>
				 <script>
				    // You can also use "$(window).load(function() {"
				    $(function () {
				      // Slideshow 4
				      $("#slider3").responsiveSlides({
				        auto: true,
				        pager: true,
				        nav: false,
				        speed: 500,
				        namespace: "callbacks",
				        before: function () {
				          $('.events').append("<li>before event fired.</li>");
				        },
				        after: function () {
				          $('.events').append("<li>after event fired.</li>");
				        }
				      });
				
				    });
				  </script>
			<!--//End-slider-script -->
			<div  id="top" class="callbacks_container">
				<ul class="rslides" id="slider3">
                    <li>
						<div class="slider-info">
							<h2>{% trans 'Iot server for Raspberry Pi' %}
								<span>{% trans 'Connect iOT device for iHook.' %}</span></h2>
							<p><a href="#">@iothook</a>{% trans '-Cloud, iOT, WWW,' %}</p>
							<ul>
								<li><a href="https://twitter.com/iothook" class="twitter-3"> </a></li>
							</ul>
						</div>
					</li>
					<li>
						<div class="slider-info">
							<h2>{% trans 'Cloud data management,' %}
								<span>{% trans 'external database connect.' %}</span></h2>
							<p><a href="#">@iothook</a>{% trans '-Web service, Api,' %}</p>
							<ul>
								<li><a href="https://twitter.com/iothook" class="twitter-1"> </a></li>
							</ul>
						</div>
					</li>
					<li>
						<div class="slider-info">
							<h2>{% trans 'Database for Mobil app,' %}
								<span>{% trans 'security data.' %}</span></h2>
							<p><a href="#">@iothook</a>-SQL, MySQL, SQLite,</p>
							<ul>
								<li><a href="https://twitter.com/iothook" class="twitter-2"> </a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
	</div>
	</div>
<!-- footer -->
	<div class="footer">
	<div class="container">
		<div class="footer-left">
			<img src="{% static 'front/images/ihook-100x50.png' %}" alt="ihook" />
			<p>&copy; 2016 <a href="/">iHook</a></p>
		</div>
		<div class="footer-right">
			<ul>
				<li><a href="https://www.facebook.com/iothook" class="footer-fb"> </a></li>
				<li><a href="https://twitter.com/iothook" class="footer-twitter"> </a></li>
				<li><a href="https://github.com/electrocoder" class="footer-in"> </a></li>
			</ul>
		</div>
		<div class="clearfix"> </div>
	</div>
	</div>
<!-- //footer -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
	</script>
<!-- //here ends scrolling icon -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>
</html>