{% extends "back/base.html" %}

{% load staticfiles %}
{% load panels_tags %}
{% load i18n %}
{% load chartit %}

{% block title %}{% trans 'Graphical Display' %}{% endblock %}

{% block website_name %}{% trans 'Graphical Display' %}{% endblock %}

{% block exhead %}
        <script src='/static/back/graph/jquery-1.6.1.min.js' type="text/javascript"></script>
        <script src="{% static 'back/chart/js/highcharts/highcharts.js' %}" type="text/javascript"></script>
        <script src="{% static 'back/chart/js/highcharts/themes/default.js' %}" type="text/javascript"></script>

		{{ cht|load_charts:"c1" }}

        <script type="text/javascript">
            var DOCUMENTATION_OPTIONS = {
                URL_ROOT : '',
                VERSION : '0.1',
                COLLAPSE_INDEX : false,
                FILE_SUFFIX : '.html',
                HAS_SOURCE : true
            };
        </script>
        <script src="{% static 'back/chart/js/demo/underscore.js' %}"
        type="text/javascript"></script>
        <script src="{% static 'back/chart/js/demo/doctools.js' %}"
        type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="col-xs-12 col-sm-12 placeholder">
    <div id="c1"></div>
</div>
{% endblock %}