{% extends "back/base.html" %}

{% load staticfiles %}
{% load panels_tags %}
{% load i18n %}

{% block title %}{% trans 'Element List' %}{% endblock %}

{% block website_name %}{% trans 'Element List' %}
    <a class="btn btn-primary" href='{% url "export" "element" %}?format=json' role="button">{% trans 'Export json' %}</a>
    <a class="btn btn-success" href='{% url "export" "element" %}?format=xml' role="button">{% trans 'Export XML' %}</a>
{% endblock %}

{% block content %}

{% if msg_ok %}
    <div class="alert alert-info" role="alert">
        <strong>{{ msg_ok }}</strong>
    </div>
{% endif %}

{% if msg_err %}
    <div class="alert alert-warning" role="alert">
        <strong>{{ msg_err }}</strong>
    </div>
{% endif %}

<div class="col-xs-12 col-sm-12 placeholder">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{% trans 'Id' %}</th>
                <th>{% trans 'Device' %}</th>
                <th>{% trans 'Channel' %}</th>
                <th>{% trans 'name' %}</th>
                <th>{% trans 'type' %}</th>
                <th>{% trans 'name_id' %}</th>
                <th>{% trans 'pub_date' %}</th>
                <th>{% trans 'description' %}</th>
                <th>{% trans 'enable' %}</th>
                <th>{% trans 'Edit' %}</th>
                <th>{% trans 'Delete' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for i in list %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.channel.device.name }}</td>
                <td>{{ i.channel.name }}</td>
                <td><a class="tooltip-viewport-bottom" title="{{ i.name }}">{{ i.name | truncatechars:20 }}</a></td>
                <td>{{ i.type }}</td>
                <td><a class="tooltip-viewport-bottom" title="{{ i.name_id }}">{{ i.name_id | truncatechars:20 }}</a></td>
                <td>{{ i.pub_date }}</td>
                <td>{{ i.description | truncatechars:10 }}</td>
                <td>{{ i.enable }}</td>
                <td><a class="btn btn-warning" href="{% url 'element_edit' i.id %}" role="button">{% trans 'Edit' %} »</a></td>
                <td><a class="btn btn-danger" href="{% url 'element_delete' i.id %}" role="button" onclick="return confirm('{% trans "Delete this element. Are you sure?" %}');">{% trans 'Delete' %}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}