{% load staticfiles %}
{% load panels_tags %}
{% load i18n %}

<footer class="footer">
    <div class="container">
        <p class="pull-right"><a href="#">&nbsp;{% trans 'Back to top' %}&nbsp;</a></p>
        <p class="pull-right"> &copy; 2018 {% website_name %} | <a href="">{% trans 'Privacy' %} </a> | <a href=""> {% trans 'Terms' %} </a> | <a> Ver: {% version %} | </a></p>
    </div>
</footer>
