{% extends "back/base.html" %}

{% load staticfiles %}
{% load panels_tags %}
{% load i18n %}

{% block title %}{% trans 'Free Dashboard for Iot Devices' %}{% endblock %}

{% block website_name %}{% website_name %}{% endblock %}

{% block content %}
<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        <a href="{% url 'device_add' %}">
        <img src="{% static "back/dashboard/img/cloud-256.png" %}" width="200" height="200" class="img-responsive"
             alt="{% trans 'Add Iot Device' %}">
        <h4>{% trans 'Add Device' %}</h4></a>
        <span class="text-muted">{% trans 'Iot Device Manager' %}</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <a href="{% url 'channel_add' %}">
        <img src="{% static "back/dashboard/img/channel-256.png" %}" width="200" height="200" class="img-responsive"
             alt="{% trans 'iot kanal ekle' %}">
        <h4>{% trans 'Add Channel' %}</h4></a>
        <span class="text-muted">{% trans 'Iot Kanal Yöneticisi' %}</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <a href="{% url 'element_add' %}">
        <img src="{% static "back/dashboard/img/element-256.png" %}" width="200" height="200" class="img-responsive"
             alt="{% trans 'Add Element' %}">
        <h4>{% trans 'Add Element' %}</h4></a>
        <span class="text-muted">{% trans 'Iot Element Gözetleyici' %}</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <a href="{% url 'key_list' %}">
        <img src="{% static "back/dashboard/img/key-256.png" %}" width="200" height="200" class="img-responsive"
             alt="{% trans 'api_key' %}">
        <h4>{% trans 'Key Manager' %}</h4></a>
        <span class="text-muted">{% trans 'Yeni Key Üret' %}</span>
    </div>
</div>
{% endblock %}