{% load panels_tags %}
{% load i18n %}
{% load rest_framework %}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'panels_index' %}">{% website_name %}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans 'Yönet' %} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                        <li><a href="{% url 'device_add' %}">{% trans 'Add Device' %}</a></li>
                        <li><a href="{% url 'channel_add' %}">{% trans 'Add Channel' %}</a></li>
                        <li><a href="{% url 'element_add' %}">{% trans 'Add Element' %}</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'device_list' %}">{% trans 'Devices' %}</a></li>
                        <li><a href="{% url 'channel_list' %}">{% trans 'Kanallar' %}</a></li>
                        <li><a href="{% url 'element_list' %}">{% trans 'Elements' %}</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/api/">{% trans 'API' %}</a></li>
                        <li><a href="/docs/api/">{% trans 'API Docs' %}</a></li>
                        <li><a href="{% url 'datas' %}">{% trans 'Datas' %}</a></li>
                  </ul>
                </li>
                <li><a href="/admin/">{% trans 'Settings' %}</a></li>
                <li><a href="http://iotdashboard.readthedocs.io/tr/latest/">{% trans 'Help' %}</a></li>
                {% if user.is_authenticated %}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user }} <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                            <li><a href="/api-auth/logout/">{% trans 'Logout' %}</a></li>
                      </ul>
                    </li>
                {% else %}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user }} <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                            <li><a href="/api/">{% trans 'Giriş' %}</a></li>
                      </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
