{% load i18n %}

<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="{% url 'panels_index' %}">Panel <span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'device_add' %}">{% trans 'Add Device' %}</a></li>
        <li><a href="{% url 'channel_add' %}">{% trans 'Add Channel' %}</a></li>
        <li><a href="{% url 'element_add' %}">{% trans 'Add Element' %}</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="{% url 'device_list' %}">{% trans 'Devices' %}</a></li>
        <li><a href="{% url 'channel_list' %}">{% trans 'Kanallar' %}</a></li>
        <li><a href="{% url 'element_list' %}">{% trans 'Elements' %}</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="/api/">{% trans 'API' %}</a></li>
        <li><a href="/docs/api/">{% trans 'API Docs' %}</a></li>
        <li><a href="{% url 'datas' %}">{% trans 'Datas' %}</a></li>
    </ul>
</div>